
.qrscanner{
    height: 300px;
    width: 300px;
    overflow: hidden;
    margin: 50px auto;
}

.qrscanner video {
    /* max-width: 250px; */
    /* max-height: 250px; */
    /* display: block; */
    /* margin: 0 auto; */
}

.row-element-set {
    display: flex;
    flex-direction: column;
}

.row-element {
    padding: .2em 0em;
}

.row-element-set-QRScanner {
    max-width: 30em;
    display: flex;
    flex-direction: column;
}

body {
    /* display: flex;
    justify-content: center; */
}

.form-field-caption {
    font-weight: bold;
}

.form-field-input {
    width: 100%;
}

.error_message {
    color: red;
    background-color: white;
    border: 1px solid red;
    padding: 4px;
    font-family: sans-serif
}